/* General styles */
.image {
  height: 39rem;
  width: auto;
  background-image: url('16.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  min-width: 300px;
}

#navbarSupportedContent {
  margin: auto;
  padding: auto;
}

#navbarSupportedContent {
  color: white;
}

.nav-item {
  margin-left: 1rem;
}

.container-fluid:hover {
  background-color: transparent;
}

.image::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  z-index: 1;
}

.image>* {
  position: relative;
  z-index: 2;
}

.head_section {
  height: 4rem;
  width: auto;
  position: relative;
  z-index: 3;
}

.desc {
  padding: 15px;
  text-align: center;
}

.content-wrapper {
  position: relative;
  text-align: center;
  color: white;
}

.background-image {
  width: 100%;
  height: auto;
  opacity: 0.5;
}

.home_page {
  position: relative;
  height: 500px;
  width: auto;
  scroll-margin-top: 600px;
}

#navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  background-color: rgb(0, 0, 0);
}

#navbar .nav-link {
  color: rgb(255, 255, 255);
}

#navbar .nav-link:hover {
  color: rgb(93, 255, 18);
}

#navbar .navbar-brand img {
  filter: brightness(0) invert(1);
}

#navbar .navbar-toggler-icon {
  filter: brightness(1) invert(0);
}

.navbar.scrolled {
  background-color: rgb(245, 25, 25);
  color: white;
}

.navbar.scrolled .nav-link {
  color: white;
}

.navbar.scrolled .navbar-brand img {
  filter: brightness(0) invert(1);
}

.navbar.scrolled .navbar-toggler-icon {
  filter: brightness(0) invert(1);
}

body {
  padding-top: 3rem;
}

.content_div_in_homepage {
  background-color: rgba(0, 0, 0, .5);
  margin-left: 8rem;
  margin-right: 45rem;
  margin-top: 5rem;
  text-align: left;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: rgb(255, 255, 255);
  padding: 1.5rem;
  border-left: 5px solid #ffffff;
  z-index: 1;
}

.content_div_in_homepage h1 {
  font-size: 2.5rem;
}

.content_div_in_homepage p {
  font-size: 1.25rem;
  margin-top: 1rem;
}


/* Media query for mobile devices */
@media (max-width: 1170px) {
  .content_div_in_homepage {
    margin-left: auto;
    margin-right: auto;
    padding: 1rem;
    z-index: 0;
  }

  .content_div_in_homepage h1 {
    font-size: 1.6rem;
  }

  .content_div_in_homepage p {
    font-size: 1rem;
  }

  .head_section {
    z-index: 5;
    /* Ensure the navbar is above the content */
  }

  #navbar .navbar-collapse {
    background-color: rgb(0, 0, 0);
    /* Background color for collapsed navbar */
  }

  #navbar .nav-link {
    color: white;
    padding: 0.5rem 1rem;
  }
}

@media only screen and (max-width:1170px) {
  .image {
    height: 25.2rem;
    width: auto;
    background-image: url('14.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    min-width: 300px;
  }

}


/*                courses               */
* {
  margin: 0px;
  padding: 0px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

.courses-section {
  background-image: url("back3.jpg");
  width: 100%;
  background-size: cover;
  background-position: center;
  padding-bottom: 20px;
  scroll-margin-top: 5px;
  /* border: 1px solid black; */

}

.courses-section h1 {
  text-align: center;
  color: rgb(255, 255, 255);
  padding: 25px 0px;
  column-gap: 2rem;
}

.container {
  margin-top: -60px;
  width: 1170px;
  display: flex;
  justify-content: space-around;
}

.courses {
  flex-basis: 45%;
  box-shadow: 0px 0px 10px 3px black;
  margin: 20px 0px;
  background-color: lightgray;
  text-align: center;
  padding: 20px 30px;
}

.courses h3 {
  padding: 10px 0px;
}

.courses p {
  font-size: 14px;
  padding: 10px;
}

.courses button {
  background-color: red;
  color: white;
  padding: 0px 10px;
  border-radius: 5px;
  border: transparent;
  margin: 10px 0px;
}

.courses:hover {
  background-color: rgb(255, 255, 255);
}

.courses:hover h3,
.courses:hover p {
  font-family: 'Times New Roman', Times, serif;
  color: rgb(25, 202, 25);
}

.courses:hover button {
  background-color: blue;
  columns: white;
}

@media only screen and (max-width:1170px) {
  .container {
    width: 100%;
    flex-direction: column;
  }
}

@media only screen and (min-width:10px) and (max-width:380px) {
  .container {
    width: 100%;
    position: sticky;
  }

  .courses img {
    height: 50px;
    width: 50px;
  }
}

/*          footer section               */
.footer {
  height: 2rem;
  width: 100%;
  display: flex;
}

.box1 {
  text-align: right;
  width: 50%;
  font-size: small;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.box1 a {
  text-decoration: none;
  color: rgb(121, 120, 120);
  margin: 10px;
  padding: 5px;
}

.box2 {
  width: 50%;
  margin: 0rem 0rem 0rem 2rem;
  font-family: 'Times New Roman', Times, serif;
  line-height: 1;
  /* border: 1px solid black; */
}


.box1 a:hover {
  text-decoration: underline;
  color: green;
}

#logo_svs {
  margin-left: 1.6rem;
  margin-bottom: 0.5rem;
}

.social_media_box {
  height: 50px;
  width: 100%;
  position: relative;
  text-align: right;
}

.box3 {
  height: 50px;
  width: 40%;
  text-align: center;
  word-spacing: 2rem;
  margin-right: auto;
  position: absolute;
  right: 0px;
  margin-top: 10px;
}

.box2 span {
  color: black;
  font-size: 1rem;
}

#pb {
  color: rgb(29, 148, 29);
}

@media only screen and (max-width: 800px) {
  .box1 a {
    margin: 0px;
    padding: 7px;
    font-size: 10px;
  }

  .box1 {
    text-align: center;
  }
}

@media only screen and (max-width: 800px) {
  .footer {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .box1,
  .box2 {
    width: 100%;
    margin: 0;
  }

  .box1 {
    order: 1;
    line-height: 4;
  }

  .box2 {
    order: 2;
    line-height: 1;
  }

  .box3 {
    order: 3;
    line-height: 12;
    text-align: center;
    position: static;
    margin: 0 auto;
  }
}



@media only screen and (min-width: 274px) and (max-width: 302px) {
  .box2 {
    text-align: center;
  }

  .box2 h1 span {
    display: block;
    margin-top: 5px;
    font-size: smaller;
  }
}

@media only screen and (max-width: 800px) {
  .box3 {
    position: static;
    margin: auto;
  }
}


@media only screen and (max-width: 425px) {
  .box3 {
    order: 3;
    line-height: 37;
    text-align: center;
    position: static;
    margin: 0 auto;
    word-spacing: 30px;
    width: 100%;
  }
}

#About_Us_section {
  scroll-margin-top: 15px;
}

.container_1 {
  display: flex;
  margin-top: 2rem;
  background-color: rgb(232, 242, 236);
  height: 40rem;
  padding: 7rem 2rem 7rem 2rem;
  position: relative;
}

.menu {
  display: flex;
  flex-direction: column;
  width: 200px;
  margin-right: 50px;
  justify-content: baseline;
}

.menu button {
  background-color: #333;
  color: #fff;
  padding: 15px;
  border: none;
  text-align: left;
  margin-bottom: 5px;
  cursor: pointer;
  font-size: 16px;
}

.menu button:hover {
  background-color: #666;
}

.menu button.active {
  background-color: #ffa500;
  color: #000;
}

.content-box {
  display: flex;
  padding: 20px;
  border-radius: 8px;
  width: 100%;
}

.content {
  width: 45%;
  /* Fixed content width */
  padding-right: 20px;
  text-align: justify;
}

.tab-content {
  display: none;
}

.tab-content h2 {
  margin-top: 0;
}

.fixed-image {
  position: absolute;
  right: 20px;
  top: 20px;
  width: 55%;
  /* Adjust as per your design */
  text-align: right;
}

.fixed-image img {
  margin-top: 2rem;
  max-width: 100%;
  height: 25rem;
  border-radius: 8px;
}

@media only screen and (min-width:320px) and (max-width:425px){
  
}









/*          Contant section          */
.contact-section {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  /* background-color: #b4b3b3; */
  scroll-margin-top: 10px;
}


.contact h2 {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 40px;
  text-align: center;
  margin-bottom: 10px;
  margin-top: 2rem;
  color: rgb(16, 105, 16);
}

.contact form {
  width: 700px;
  text-align: center;
}

form .input-box {
  display: flex;
  justify-content: space-between;
}

.input-box .input-field {
  width: 48.5%;
}

.field .item {
  width: 100%;
  padding: 18px;
  background: transparent;
  border: 2px solid #576d2c;
  /* #cc3333 */
  outline: none;
  border-radius: 6px;
  font-size: 16px;
  /* color:#1900ff; */
  margin: 12px 0;
}

.field .error-text{
  font-size: 16px;
  color: red;
  text-align: left;
  margin:-5px 0 10px ;  
  display: none;
}

form .textarea-field .item {
  resize: none;
}

form button {
  padding: 12px 32px;
  background-color: rgb(41, 100, 41);
  border: none;
  outline: none;
  color: white;
  border-radius: 6px;
  box-shadow: 0 0 8px black;
  font-size: 16px;
  letter-spacing: 1px;
  font-weight: 600;
  cursor: pointer;
  margin-top: 20px;
  transition: 0.5s;
}

form button:hover{
  box-shadow: none;
}

form .textarea-field .error-text{
  margin-top: -10px;
}
